<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rMTag">
            <h2><span jhiTranslate="reqmanApp.rMTag.detail.title">RM Tag</span> {{rMTag.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="reqmanApp.rMTag.name">Name</span></dt>
                <dd>
                    <span>{{rMTag.name}}</span>
                </dd>
                <dt><span jhiTranslate="reqmanApp.rMTag.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'reqmanApp.RMTagType.' + rMTag.type}}">{{rMTag.type}}</span>
                </dd>
                <dt><span jhiTranslate="reqmanApp.rMTag.name">Name</span></dt>
                <dd>
                    <span *ngFor="let name of rMTag.names; let last = last">
                        <a [routerLink]="['/rm-requirement', name?.id, 'view' ]">{{name.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rm-tag', rMTag.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
