<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rMPage">
            <h2><span jhiTranslate="reqmanApp.rMPage.detail.title">RM Page</span> {{rMPage.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="reqmanApp.rMPage.name">Name</span></dt>
                <dd>
                    <span>{{rMPage.name}}</span>
                </dd>
                <dt><span jhiTranslate="reqmanApp.rMPage.description">Description</span></dt>
                <dd>
                    <span>{{rMPage.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rm-page', rMPage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
